<h2> Choose a bet amount <h2>

<%=session[:name]%> has $<%=session[:bet_total]%> 


<form action="/bet" method="post">
	<input type="text" name="bet"/>
	<input type="submit" value="submit"/>
</form>

