<h3>Here's the form <h3>

<!--standard form Tag. action specifies the URL this form will submit to. Forms need an input element. Have to specify the method-->
<form action='/myaction' method='post'>
	<input type='text' name="username"/>
	<input type="submit" class="btn"/>
</form>